/*  all the btns main design */
.btn{
    height: 100px;
    width: 44%;
    text-align: center;
    background-color: #cccccc;
    color: #000000;
    font-size: 150%;
    float: left;
    margin-left: 3%;
    margin-top: 50px;
    border-radius: 5px;
}
.btn:active{
    background-color: #0099ff;
    color: white;
}
/*responsible for the Truth button*/
.btn_colorF{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 30px 1px black;
    border-radius:  1em 2em 1em 4em / 2em 1em 2em 1em;
    -moz-border-radius: 1em 2em 1em 4em / 1em 2em 2em 1em;
    -webkit-border-radius:  1em 2em 1em 2em / 2em 1em 2em 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*responsible for the Dare button*/

.btn_colorW{
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 0px 30px 1px #000000;
    border-radius:  1em 2em 1em 4em / 2em 1em 2em 1em;
    -moz-border-radius: 1em 2em 1em 4em / 1em 2em 2em 1em;
    -webkit-border-radius:  1em 2em 1em 2em / 2em 1em 2em 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*resposible ni sya sa design sa mga question*/
.ans{
    height:250px;
    overflow: hidden;
    background-color: transparent;
    color: white;
    text-align: center;
    margin-top: 50px;
    float: left;
    width: 100%;
    font-size: 250%;
    padding:15px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*apply in all elements*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    background: url("bckgrnd.jpg");
    outline:none ;
}